body {
    display: flex;
    background-color: #222;
    color: #eee;

    width: 16rem;
    height: 4rem;

    justify-content: center;
}

.special-text {
    color: red;
}

.off-button {
    display: block;
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.off-image {
    display: block;
    height: 100%;
    width: 100%;
}