body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin: 0 0 0 0;
  font-family: 'Poppins', sans-serif;
}
.one,.two,.three,.four,.five{
  display: flex;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 25px;
}
.subtitle {
  color: orange;
  font-weight: 600;
  margin-bottom: 15px;
}
.three {
  margin-bottom: 10px;
}
.streak {
  background: rgba(213,143,8,0.13);
  border: none;
  padding: 2px 1px 4px 5px;
}
.streak:hover {
  cursor: pointer;
}
.streak:active {

}

.hours {
  margin-left: 10px;
  background-color: rgba(213,143,8,0.41);
  border: none;
}
.hours:hover {
  cursor: pointer;
}
.hours:active {

}

.off {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  margin-left: 5px;
}
