body {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin: 0px 0px 0px 0px;
  font-family: 'Poppins', sans-serif;
  padding: 0px 0px 0px 0px;
}
.one,.two,.three,.four,.five{
  display: flex;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 25px;
}
.subtitle {
  color: orange;
  font-weight: 600;
  margin-bottom: 5px;
}
.three {
  display: none;
  margin-bottom: 5px;
}
.streak {
  background: rgba(213,143,8,0.13);
  border: none;
  padding: 2px 1px 4px 5px;
  border-radius: 6px;
  border-width: 2px;
  border-color: transparent;
}
.streak:hover {
  transition: border-color 1s;
}
.hours {
  margin-left: 10px;
  background-color: rgba(213,143,8,0.41);
  border: none;
  border-radius: 6px;
}
.hours:hover {
  cursor: pointer;
}
.hours:active {

}

.off {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
  margin-left: 5px;
}
